body {
  background-color: #fffbef;
}

h1 {
  color: #8942f4;
  font-family:"Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 70px;
}

#copyright {
  font-size: 20px;
}

#gold {
 font-weight: bold;
 color:#f7bd00;
 text-decoration: underline;
}



#asterisk {
  font-size: 15px;
  display: block;
}

#intro-text {
  font-size: 30px;
  font-family: "Gill Sans", sans-serif;
}

#home-page-list {
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
}

#find-out-more {
  font-size: 50px
}

#home-page-links {
  font-size: 20px;
  font-family: "Arial", Helvetica, sans-serif;


 }

 a:link {
   color: black;
   text-decoration: none;
 }

 a:hover {
  color: #ce5078;
  text-decoration: underline;

}
